.grid 
  .column 
    h3 Editorial and Layout
  .column 
    p Perfect Pairings, a digital premium published for Food &amp; Wine subscribers
    hr
    p A Year In Review, an annual report of stories and statistics for Cornerstone Church
    hr
    p Josie &amp;amp; The Giant Tree, illustration and book layout for a published children’s book, authored by Christina Ifeoma Ukachukwu.