.baby-grid 
  .column 
    h3 Intangible
  .column
    ul
      li Sense of humor
      li Reliable &amp; consistent
      li Quality, quickly
  .column
    ul
      li Flexibility &amp; adaptability
      li Attention to detail
      li Efficiency &amp; organization