.grid 
  .column 
    h3 Interests 
  .column
    ul 
      li Fine art, specifically oil and acrylic painting
      li Birdwatching, being outside
      li Playing, watching, and talking about soccer
      li Reading and public libraries
      li Finding new coffee and food spots
      li Baking breads, eating breads
      li Animals, at large