h3 Tangible
ul
  li Adobe Suite: Illustrator, Photoshop, InDesign, XD, AfterEffects, Dreamweaver, Acrobat
  li Affinity Designer
  li FontLab
  li WordPress, Elementor
  li Squarespace
  li Subsplash
  li HTML, CSS
  li Google Workspace
  li Dropbox
  li Slack
  li Asana
  li Microsoft Office Suite