h3 Visual Design
p The Salt Company Conference, a weekend gathering for 4,000+ college students from across the country
p The DSM Legends, an amateur soccer team in the Iowa Champions League
p Static and animated digital promotion for a variety of brands, including Real Simple, Walmart, Skechers, eBay, Zenni, United Way, and more.