.grid 
  .column 
    h3 UX, UI, Web
  .column 
    p Cornerstone Church’s custom website with 65+ pages, interactive elements, and organization of resources, events, and announcements
    p The Ambassador Coalition’s Squarespace site, promoting the podcast, sharing resources, &amp; hosting merch
    p The Salt Company Conference custom website for pre-event registration and information, as well as event weekend updates and livestream