h1 A well-rounded designer specializing in visual identity, print layout &amp; web design.
.banner-grid
  .column
    p Tucson, AZ
  .column
    p 
      a(href="mailto:chat@joslinlee.com") chat@joslinlee.com