h1 A well-rounded designer specializing in visual identity, print layout &amp; web design.
div.container
  div.column
    p Tucson, AZ
  div.column
    a(href="mailto:chat@joslinlee.com") chat@joslinlee.com