.header-grid
    .column
        nav
            ul(class="topnav", id="myTopnav")
                li 
                    a(href="#home") Home
                li
                    a(href="#news") News
                li
                    a(href="#contact") Contact
                li
                    a(href="#about") About

            a(href="javascript:void(0);", id="hamburger-icon")
                span(class="bar")
                span(class="bar")
                span(class="bar")