.header-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 0px;
  height: auto;
  .column {
    padding-left: 50px;
  }
}

.banner-grid {
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: auto;
  gap: 10px;
  height: 50px;
  vertical-align: middle;
  .column {
    vertical-align: middle !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  gap: 10px;
  height: auto;
  padding: 10px 0px;
  .column {
    h2 {
      padding-top: 10px;
    }
  }
}

.baby-grid {
  display: grid;
  grid-template-columns: 25% 36% 36%;
  grid-template-rows: auto;
  gap: 20px;
  align-items: top;
  height: auto;
  padding: 10px 0px;
  .column {
    padding: 0px;
  }
}