
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
  background-color: white;
  display: flex; /* Add this to allow flex-direction */
  flex-direction: column-reverse; /* Moves the hamburger icon above the ul */
  padding: 1rem;
}

ul.topnav {
  display: none; /* Removes the menu when not active  */
  list-style-type: none;
  gap: 2rem;
  margin: 10px auto;
}

/* Add responsive class to activate menu --- place below ul.topnav so overrides can take effect */
ul.topnav.responsive {
  display: flex; /* Overrides "display: none" to show menu */
  flex-direction: column; /* Needed to override flex's inline rule */
  position: relative; 
}

ul.topnav li a {
 color: blue;
text-decoration: none;
}

ul.topnav li a:hover {
  color: red;
  text-decoration: none;
}

#hamburger-icon {
  align-self: end; /* Moves hamburger-icon to the right of the screen */
}

/* Create hamburger icon with span tags */
.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out; /* Speed of animation */
  transition: all 0.2s ease-in-out; /* Speed of animation */
  background-color: blue;
}

/* Change hamburger to an X when .active is added */
#hamburger-icon.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#hamburger-icon.active .bar:nth-child(2) {
  opacity: 0;
}


#hamburger-icon.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
} 

/* Start desktop styles (Remove everything below to keep hamburger menu on all screen sizes) */
@media (min-width: 768px) {
  a#hamburger-icon {
    display: none; /* Removes hamburger icon */
  }
  
  ul.topnav {
    display: flex; /* Overrides "display: none" and creates an inline menu */
    align-self: end; /* Moves menu to the right of the screen */
    margin: initial; /* Resets "margin: 0 auto" added in mobile to center the menu*/
  }
}